@import 'parts/settings';
@import 'parts/normalize';
@import 'parts/layout';
@import 'parts/global';

.timeSelect {
    width: 30%;
}

.bginfo {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}